<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="titulo"></h4>
            </div>
            <div class="modal-body" id="conteudo">
            </div>
        </div>
    </div>
</div>