.divPrincipal {
    margin-left: 3%; 
    margin-right:3%;
}

input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
textarea,
select {
    border-radius: 10px !important;
}

textarea{
    resize: none;
}