################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/Apisul.Tecnopuc.Predio99
/.vs/Apisul.Tecnopuc.Predio99/config
/.vs/Apisul.Tecnopuc.Predio99/config/applicationhost.config
/.vs/Apisul.Tecnopuc.Predio99/DesignTimeBuild
/.vs/Apisul.Tecnopuc.Predio99/DesignTimeBuild/.dtbcache.v2
/.vs/Apisul.Tecnopuc.Predio99/FileContentIndex
/.vs/Apisul.Tecnopuc.Predio99/FileContentIndex/002502af-490c-4a7b-8454-a6bc1d5f43ea.vsidx
/.vs/Apisul.Tecnopuc.Predio99/FileContentIndex/3e91e156-e8b9-42e3-aa08-bfdaf030ad35.vsidx
/.vs/Apisul.Tecnopuc.Predio99/FileContentIndex/5455d62a-fce7-4599-b035-d2b01c59b9b8.vsidx
/.vs/Apisul.Tecnopuc.Predio99/FileContentIndex/7066432d-64a4-4642-b587-30c20aa76f57.vsidx
/.vs/Apisul.Tecnopuc.Predio99/FileContentIndex/7cb77c4e-eeda-4a26-92d0-83151b766e4b.vsidx
/.vs/Apisul.Tecnopuc.Predio99/v17
/.vs/Apisul.Tecnopuc.Predio99/v17/.futdcache.v2
/.vs/Apisul.Tecnopuc.Predio99/v17/.suo
/.vs/Apisul.Tecnopuc.Predio99/v17/TestStore/0
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/apisul.tecnopuc.predio99.metadata.v7.bin
/.vs/ProjectEvaluation/apisul.tecnopuc.predio99.projects.v7.bin
/src
/src/.vs/Apisul.Tecnopuc.Predio99/v17
/src/.vs/Apisul.Tecnopuc.Predio99/v17/.suo
/src/Application
/src/Application/bin/Debug/net7.0
/src/Application/bin/Debug/net7.0/Application.deps.json
/src/Application/bin/Debug/net7.0/Application.dll
/src/Application/bin/Debug/net7.0/Application.pdb
/src/Application/obj
/src/Infrastructure
/src/Infrastructure/bin/Debug/net7.0
/src/Infrastructure/bin/Debug/net7.0/Application.dll
/src/Infrastructure/bin/Debug/net7.0/Application.pdb
/src/Infrastructure/bin/Debug/net7.0/Infrastructure.deps.json
/src/Infrastructure/bin/Debug/net7.0/Infrastructure.dll
/src/Infrastructure/bin/Debug/net7.0/Infrastructure.pdb
/src/Infrastructure/obj
/src/Presentation.Console
/src/Presentation.Console/bin/Debug/net7.0
/src/Presentation.Console/obj
